.testimonial{
    padding: 2rem 5rem;
    margin: .2rem;
    // background: orange;
    &:not(:last-child){
        border-right: 1px solid #ddd;
    }
    @include respond(iPhonePlus){
        margin: 0;
        
       &:nth-child(2){
           background: #ddd;
       }
    }
    @include respond(iPhone){
        margin: 0;
       &:nth-child(2){
           background: #ddd;
       }
    }
    &-paragraph{
        font-size: 1.4rem;
        letter-spacing: .1rem;
        font-style: italic;
        @include respond(iPhone){
            text-align: justify;
        }
    }

    &-person{
        display: flex;
        align-items: center;
        margin-top: 2rem;
        &-img{
            width: 90px;
            height: 90px;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
         img{
                display: inline;
                margin: 0 auto;
                // margin-left: -20%; //centers the image
                margin-left: 20%;
                transform: scale(1.6);
                height: 100%;
                width: auto;
                
            }           
        }

       &-description{
        margin-left: 1.4rem;
        &-heading{
            font-size: 1.9rem;
            letter-spacing: .2rem;

        }

        &-title{
            font-size: 1.4rem;    
            color: var(--color-primary-dark);
            font-weight: 600;
            letter-spacing: .05rem;
        }

       }
    }
}